<h3 class="fw-bold">Lista de Citas</h3>

<div class="text-end">
  <button mat-raised-button color="primary" routerLink="/admin/citas/new">
    Nueva Cita
  </button>
</div>

<div class="example-header">
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Buscar Cita"
    />
  </mat-form-field>
</div>

<div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8"
    class="w-100"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="fechahora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Hora</th>
      <td mat-cell *matCellDef="let element">{{ element.fechaHora }}</td>
    </ng-container>

    <ng-container matColumnDef="motivo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Motivo</th>
      <td mat-cell *matCellDef="let element">{{ element.motivo }}</td>
    </ng-container>

    <ng-container matColumnDef="idMascota">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Mascota</th>
        <td mat-cell *matCellDef="let element">{{ element.idMascota.idMascota }}</td>
      </ng-container>


      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-button
            color="primary"
            [routerLink]="[element.id, 'editar']"
          >
            <mat-icon>ballot</mat-icon>
          </button>
          <button mat-button color="primary" (click)="eliminar(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>