<html>

<body>
    <div class="login-box">
        <img class="logo" src="https://www.merida.gob.mx/salud/assets/img/elements/servicios-03.svg" alt="VETERINARIA">
        <form #loginform="ngForm" (ngSubmit)="loginUser()">
           
            <input type="text" name="user" [(ngModel)]="usuario.nombreUsuario" class="form-control" placeholder="Nombre de usuario" required autofocus>
            <input type="password" name="contrasena" [(ngModel)]="usuario.contrasenaUsuario" class="form-control" placeholder="Contraseña">
            
            <input type="submit" value="Ingresar" required >
        </form>
        <p>¿una cuenta?</p>
        <a ><button>Regístrate</button></a>
    </div>
</body>
</html>
